<h4 class="text-primary">{{ info.organisationName }}</h4>
<ul class="space-y-1 mb-2">
    <li>{{ info.street }} {{ info.housenumber }}</li>
    <li>{{ info.zip }} {{ info.city }}</li>
    <li>{{ info.country }}</li>
</ul>

<div class="flex items-center mb-2">
    <svg class="icon text-secondary mr-2" aria-hidden="true">
		<use xlink:href="/icon/sprite.svg#envelope"></use>
	</svg>
    <a class="underline text-primary" href="mailto:{{ info.email }}">{{ info.email }}</a>
</div>

<div class="flex items-center">
    <svg class="icon text-secondary mr-2" aria-hidden="true">
        <use xlink:href="/icon/sprite.svg#phone"></use>
    </svg>
    <a class="underline text-primary" href="tel:{{ info.telephone }}">{{ info.telephone }}</a>
</div>