{% extends "_layout.twig" %}

{% block content %}

<div class="bg-light py-10">
<div class="section section--default">
	<div class="container">
  <div class="mb-5">{% include '_snippet/_nav/_breadcrumb' %}</div>
    {% set suggestion = craft.entries.section('suggestExpert') %}
    {% for suggest in suggestion %}
        <h1 class="text-primary w-3/5">{{ suggest.title }}</h1>
      <div class="text-xl w-3/5">
        <p>{{ suggest.intro }}</p>
      </div>
    {% endfor %}
    </div>
</div>
</div>

<div class="section section--default">
	<div class="container">
    <div class="bg-light ml-10 mr-10 py-10">
      
<div class="w-full py-6">
  <div class="flex justify-center">
    <div class="w-32">
      <div class="relative mb-2">
        <div class="w-12 h-12 mx-auto bg-primary rounded-full text-lg text-white flex items-center">
          <span class="text-center text-white w-full">
            <p class="font-accent">1</p>
          </span>
        </div>
      </div>

    </div>

    <div class="w-32">
      <div class="relative mb-2">
        <div class="absolute flex align-center items-center align-middle content-center" style="width: calc(100% - 2rem - 1rem); top: 50%; transform: translate(-50%, -50%)">
          <div class="w-full bg-white items-center align-middle align-center">
            <div class="w-0 bg-white border-height"></div>
          </div>
        </div>

        <div class="w-12 h-12 mx-auto bg-primary rounded-full text-lg text-primary flex items-center">
          <span class="text-center text-white w-full">
            <p class="font-accent">2</p>
          </span>
        </div>
      </div>

    </div>

    <div class="w-32">
      <div class="relative mb-2">
        <div class="absolute flex align-center items-center align-middle content-center" style="width: calc(100% - 2rem - 1rem); top: 50%; transform: translate(-50%, -50%)">
          <div class="w-full bg-white items-center align-middle align-center flex-1">
            <div class="w-0 bg-white border-height"></div>
          </div>
        </div>

        <div class="w-12 h-12 mx-auto bg-white border-2 border-white rounded-full text-lg text-white flex items-center">
          <span class="text-center text-primary w-full">
            <p class="font-accent">3</p>
          </span>
        </div>
      </div>

    </div>
  </div>
</div>

{% set id = craft.app.request.getParam('id') %}
  <div class="w-full">
    <div class="flex justify-center">
      <form method="post" accept-charset="UTF-8">

      {{ csrfInput() }}
      {{ actionInput('statik/form/saving') }}
      {{ hiddenInput('entryId', id) }}
      {{ hiddenInput('sectionUid', '8686965a-70d6-43fa-9981-0c699bc62f2a') }}
      {{ hiddenInput('typeUid', '8518fc8e-40c7-4e48-a521-e48866d184b1') }}

        <label class="form__label" for="organisationName">Name of the organisation</label>
        <input class="form__input w-full" type="text" id="organisationName" name="fields[organisationName]">

        <label class="form__label" for="street">Street</label>
        <input class="form__input w-full" name="fields[street]" type="text" id="street">

        <label class="form__label" for="housenumber">Housenumber</label>
        <input class="form__input w-full" type="text" id="housenumber" name="fields[housenumber]">

        <label class="form__label" for="zip">Zip</label>
        <input class="form__input w-full" type="text" id="zip" name="fields[zip]">

        <label class="form__label" for="city">City</label>
        <input class="form__input w-full" type="text" id="city" name="fields[city]">

        <label class="form__label" for="country">Country</label>
        <input class="form__input w-full" type="text" id="country" name="fields[country]">

        <label class="form__label" for="website">Website</label>
        <input class="form__input w-full" type="text" id="website" name="fields[website]">

        <label class="form__label" for="fullname">Main contact full name</label>
        <input class="form__input w-full" type="text" id="fullname" name="fields[fullname]">

        <label class="form__label" for="email">Main contact email</label>
        <input class="form__input w-full" type="text" id="email" name="fields[email]">

        <label class="form__label" for="telephone">Main contact telephone</label>
        <input class="form__input w-full" type="text" id="telephone" name="fields[telephone]">

    <div class="flex justify-end">
      <input class="mt-5 btn btn--secondary btn--ext" id="next" type="submit" name="answer" value="Next"/>
    </div>
      </form>
    </div>
    </div>
</div>
</div>
</div>

{% endblock %}