{% extends "_layout.twig" %}

{% block content %}

<div class="text-white bg-center bg-cover hero js-bg-target px-10 py-10">
<div class="section section--default">
	<div class="container">
    <div class="mb-5">{% include '_snippet/_nav/_breadcrumb' %}</div>
        {% include '_snippet/_item/_entryCongress' %}
    </div>
</div>
</div>

{% include '_snippet/_content/_contentBuilder' %}

<div class="section section--default">
	<div class="container">
        <div class="w-full flex">
            <div class="w-1/3 px-10 py-10 bg-light mr-10">
                <h2 class="text-primary">Practical information</h2>
                <p>{{ entry.practicalInfoDate.formatted('M d, Y') }}</p>
            <div class="flex items-baseline">
                <p>{{ entry.practicalInfoStreet }},</p>
                <p>{{ entry.practicalInfoCity }},</p>
                <p>{{ entry.practicalInfoCountry }}</p>
            </div>
                <p>€{{ entry.practicalInfoPrice }}</p>
                <p>{{ entry.practicalInfoMoreInfo }}</p>
            </div>

            <div class="w-3/5">
                <h2 class="text-primary">Program</h2>
                <p>{{ entry.program }}</p>
            </div>
        </div>
    </div>
</div>



<div class="section section--default">
	<div class="container">
        <h2 class="text-primary">Recordings</h2>
        {% set records = craft.entries.section('knowledgeCenterDetail').relatedTo(entry.congress).limit(6) %}
        {% for record in records %}
        {% include '_snippet/_item/_recording' %}
        {% endfor %}
    </div>
</div>

<div class="section section--default">
	<div class="container">
        <div class="flex items-baseline mb-5">
            <h2 class="text-primary mr-10">Past SPIN congresses</h2>
            {% set pasts = craft.entries.section('pastCongresses') %}
            {% for past in pasts %}
                <a class="btn btn--ghost btn--ext" href="{{ past.url }}">See all past SPIN congresses</a>
            {% endfor %}
        </div>
            <div class="flex -mx-4">
                {% set UpcomingEvent = craft.entries.section('eventUpcomingDetail').id('not ' ~ entry.id).limit(3) %}
                {% for upcoming in UpcomingEvent %}
                    {% include '_snippet/_item/_event' %}
                {% endfor %}
    </div>
</div>

{% endblock %}