<h2>Practical information</h2>

<div>
<h2 class="text-red-600">{{ block.titel }}</h2>
</div>

<div>
<p>{{ block.dateRange | date('long') }}</p>
</div>

<div>
<p>{{ block.location }}</p>
</div>

<div>
<p>€{{ block.price }}</p>
</div>

<div>
<p>{{ block.moreInfo }}</p>
</div>