{% extends "_layout" %}

{% block content %}

<div class="bg-center bg-cover hero js-bg-target px-10 py-10">
    <div class="section section--default">
        <div class="container">
        <div class="mb-5">{% include '_snippet/_nav/_breadcrumb' %}</div>
            <div class="w-full md:w-3/4">
                {% include '_snippet/_content/_pageTitle' %}
                {% include '_snippet/_content/_intro' %}
                {% include '_snippet/_item/_home' %}
                <a class="btn btn--secondary btn--ext mr-4 mt-5" href="#">Expand your knowledge</a>
                <a class="btn btn--primary btn--ext" href="#">Join our research</a>
            </div>
        </div>
    </div>
</div>

<div class="section section--default">
	<div class="container">
    <div class="text-white bg-center bg-cover hero js-bg-target px-10 py-10">
        {% set newEvent = craft.entries.section('eventUpcomingDetail').isFuture('practicalInfoDate').limit(1) %}
        {% for new in newEvent %}
            {% include '_snippet/_item/_congress' %}
        {% endfor %}
    </div>
    </div>
</div>

<div class="section section--default">
	<div class="container">
        <h2 class="text-primary">Topics in our Knowledge Center</h2>
        <div class="flex flex-wrap -mx-4">
            {% set records = craft.entries.section('knowledgeCenterDetail').relatedTo(entry.congress).limit(6) %}
            {% for record in records %}
            {% include '_snippet/_item/_recording' %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="section section--default">
	<div class="container">
        <div class="bg-light py-10 text-center">
			<h2 class="text-primary">Unmet needs</h2>
			{% set diseases = craft.entries.section('unmetNeedsDisease').relatedTo(entry.diseases) %}
			{% for disease in diseases %}
			{% set category = disease.diseases.one() %}
				<a class="btn btn--primary btn--ext mr-5" href="{{ disease.url }}">{{ category.title }}</a>
			{% endfor %}
		</div>
	</div>
</div>

<div class="section section--default">
	<div class="container">
    <h2 class="text-primary">Advancing projects</h2>
    <div class="flex">
            {% set projects = craft.entries.section('spinProjectDetail').limit(2) %}
            {% for project in projects %}
                <div class="group w-1/2">
                <div class="group-hover:shadow-xl border border-primary mr-5 px-5 py-5 h-full">
                    <a href="{{ project.url }}">
                    <h2 class="text-primary">{{ project.title }}</h2>
                    <p>{{ project.projectLead }}</p>
                    <p>{{ project.intro }}</p>
                    <a class="link link--primary link--ext" href="{{ project.url }}">Read more</a>
                    </a>
                </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
